body {
  margin: 0;
  padding: 0;
}
#root {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-Container {
  width: 500px;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.card {
  width: 600px;
  height: 45%;
  background-color: cadetblue;
}

.card p {
  padding: 5%;
  font-size: 12px;
}
